
.pagination-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
}
.pagination-wrapper .pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination-wrapper .pagination__list li {
  flex: 0 0 4rem;
  width: 4rem;
  height: 4rem;
}
.pagination-wrapper .pagination__list li .pagination__item{
  background: var(--light-grey-color);
  border-radius: var(--border-radius-5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7)
}
.pagination-wrapper .pagination__list li .pagination__item.pagination__item--current{
  background-color: var(--primary-blue-color);
  color: var(--white-color);
}
.pagination-wrapper .pagination__list li .pagination__item:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}
.pagination__list > li:not(:last-child) {
  margin-right: 0.8rem;
}
.pagination-wrapper .pagination__list li .pagination__item-arrow .svg-wrapper{
  width: 16px;
  height: 16px;
}
.pagination-wrapper .pagination__list li .pagination__item--next .svg-wrapper{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
