.article-template>*:first-child:not(.article-template__hero-container) {
  margin-top: 40px;
}

.article-template__content>div {
  margin: 0px !important;
  padding: 0px !important;
}

.article-template__content .pagedArticle section>div {
  margin: 0px !important;
  padding: 0px !important;
}

table {
  margin: 24px 0px 0px !important;
  width: 100%;
}

.article-template__content h1 {
  text-transform: capitalize;
  color: #231F20;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-open-sans);
  margin-bottom: 20px;
  line-height: normal;
}

.article-template__content hr {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 3.2rem 0px;
}

/* .article-template__content .mainArtTitle + h6{
  text-align: right;
} */
.article-template__content h6 {
  color: #1B1F23;
  font-size: 16px;
}

.article-template__content .go-back-btn{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px !important;
}
.article-template__content .go-back-btn .view-link{
  color: var(--primary-blue-color) !important;
  border-color: var(--primary-blue-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
.article-template__content .go-back-btn .view-link:before{
  border-color: var(--primary-blue-color);
  position: static;
  margin-right: 15px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  content: "";
}
.article-template__content .go-back-btn .view-link:after{
  border: solid var(--primary-blue-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 6px;
  top: 8px;
  content: "";
  transition: var(--webkit-transition-all);
}

.article-template .pagedArticle img {
  object-fit: cover;
  border: 0px;
  box-shadow: none;
  border-radius: var(--border-radius-5);
  background: #F5F5F5;
  padding: 4px;
  /* max-height: 200px; */
}

.article-template p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 28px;
}

.article-template a {
  text-decoration: underline;
}

.article-template a:hover {
  color: var(--primary-blue-color);
}

.article-template h2 {
  font-size: 20px !important;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: var(--font-open-sans);
}

.article-template .cableorganizer_text {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
}

.article-template__hero_image {
  max-width: 1250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-grey-color);
  border-radius: var(--border-radius-5);
  margin:30px 0;
}

.article-template__hero_image img {
  object-fit: none;
  height: 100%;
  width: 100%;
  mix-blend-mode: darken;
  min-height: 540px;
  max-height: 540px;
}

.article-template h1 {
  color: #085284;
  font-weight: bolder;
  font-size: 36px;
  font-family: var(--font-open-sans);
}

.article-template h4 {
  color: #085284;
  font-size: large;
  padding-bottom: 10px;
}

.article-template h6 {
  font-size: medium;
}

.article-template hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-template a {
  color: #EA6024;
}

.article-template .article-template__back {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.article-template img {
  border: 0 !important;
}

@media screen and (min-width: 992px) {
  .article-template>*:first-child:not(.article-template__hero-container) {
    margin-top: 60px;
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}



.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing+header,
.article-template__social-sharing+.article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}


@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields>* {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--light-grey-color);
  border-radius: var(--border-radius-5);
  padding: 18px 40px;
  margin-bottom: 60px;
}

.article-template__back .article-template__link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  line-height: normal;
}

.article-template__back .article-template__link.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__link.next-blog .icon-wrap {
  order: 2;
  margin: 0px;
  transform: none;
  margin-left: 1rem;
}

.article-template__back ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.article-template__back ul li,
.article-template__back ul li a {
  display: flex;
}

.article-template__back ul li a svg {
  transition: var(--webkit-transition-all);
}

.article-template__back ul li a:hover svg {
  transform: translateY(-2px);
}

.article-template__back ul li svg rect {
  stroke: none;
}

.article-template__back ul li svg path {
  fill: var(--black-color);
}

/* Responsive */
@media screen and (max-width: 991px) {
  .article-template__content h1 {
    font-size: 26px;
  }

  .article-template__content hr {
    margin: 2.4rem 0px;
  }

  .article-template__back {
    margin: 40px 0px;
    padding: 18px 12px;
  }

  .article-template__back ul {
    order: 3;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
  }

  .article-template__content table {
    table-layout: auto;
    font-size: 12px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .article-template h1{
    font-size: 26px;
    padding-bottom:15px;
  }
  .article-template__hero_image{
    margin:30px 20px;
  }
  .article-template__hero_image img{
    object-fit: initial;
    min-height: auto;
    max-height: initial;
  }
}

@media screen and (max-width: 767px) {
  .article-template__back .article-template__link {
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    font-size: 14px;
  }

  .article-template__link .icon-wrap {
    margin: 6px 0px;
  }

  .article-template__link.next-blog .icon-wrap {
    order: inherit;
    margin: 6px 0px;
  }

  .article-template .pagedArticle img {
    width: 40%;
    max-height: none;
  }
  .article-template__content .go-back-btn {margin-bottom: 18px !important;}
	.article-template__content .go-back-btn .view-link{font-size: 16px; }
}

@media screen and (max-width: 460px) {
  .article-template__back .article-template__link {
    padding: 0px 20px;
  }
}