.about-our-story{
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}
.about-our-story .about-story-colunm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 calc(50% - 25px);
    width: calc(50% - 25px);
}
.about-our-story .about-story-colunm p{
    margin-top: 24px;
    color: #444444;
    line-height: 26px;
}
.about-our-story .about-story-colunm .story-images-main{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.about-our-story .about-story-colunm .story-images-main img{
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-5);
    width: 100%;
}
.about-our-story .about-story-colunm .story-images-main .story-images-half{
    width: calc(50% - 10px);
    height: 310px;
}
.about-our-story .about-story-colunm .story-images-main .story-images-full{
    width: 100%;
    height: 260px;
    margin-top: 20px;
}
/* responsive */
@media only screen and (max-width: 991px) {
    .about-our-story{ padding: 40px 0px; gap: 0;}
    .about-our-story .about-story-colunm{ flex: 0 0 100%; width: 100%;}
    .about-our-story .about-story-colunm:first-child{margin-bottom: 14px;}
    .about-our-story .about-story-colunm p{ margin-top: 14px;}
}
@media only screen and (max-width: 767px) {
    .about-our-story .about-story-colunm .story-images-main{gap: 10px;}
    .about-our-story .about-story-colunm .story-images-main .story-images-half{ height: 200px; width: calc(50% - 5px);}
    .about-our-story .about-story-colunm .story-images-main .story-images-full{height: 172px; margin-top: 10px;}
}
