footer {
  background: var(--navy-color-16263F);
  position: relative;
  z-index: 2;
}

footer[data-margin-top="true"] {
  margin-top: 60px;
}

footer h3 {
  color: var(--white-color);
  font-weight: 700;
}

footer h4 {
  font-weight: 700;
  color: var(--white-color);
  padding-bottom: 24px;
}

footer h5 {
  font-weight: 700;
  color: var(--white-color);
  padding-bottom: 8px;
}

footer .footer_pre_blocks {
  border-bottom: 1px solid #344054;
  padding: 50px 0;
}

footer .footer_pre_blocks .page-width {
  display: flex;
  gap: 170px;
}

footer .footer_pre_blocks .left_side_content {
  display: flex;
  gap: 60px;
}

footer .footer_pre_blocks .left_side_content .blocks {
  display: flex;
  color: var(--white-color);
  gap: 16px;
  align-items: flex-start;
}

footer .footer_pre_blocks .left_side_content .blocks img {
  width: 30px;
}

footer .footer_pre_blocks .left_side_content .blocks p {
  color: #98A2B3;
  font-size: 15px;
}

footer .footer_pre_blocks .call_number_block {
  min-width: 340px;
}

footer .footer_pre_blocks .call_number_block a {
  display: flex;
  align-items: center;
  gap: 24px;
}

footer .footer_pre_blocks .call_number_block svg {
  width: 30px;
}

footer .footer_pre_blocks .call_number_block span {
  font-family: var(--font-days-one);
  font-weight: 400;
  font-size: 26px;
  display: block;
  line-height: normal;
}

footer .footer_pre_blocks .call_number_block span.call_text {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 15px;
  color: #98A2B3;
  padding-top: 7px;
}

footer p {
  color: var(--white-color);
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  margin: 0;
  padding: 0 0 14px 0;
}

footer a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .wrapper_content {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  padding: 40px 0;
}

footer .brand_newsletter .field {
  display: block;
}

footer .brand_newsletter .block_brand {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 32px;
  padding-top: 26px;
  display: flex;
  justify-content: center;
}

footer .brand_newsletter .block_brand img {
  display: block;
  width: 180px;
}

footer .newsletter_input {
  background: var(--white-color);
  border-radius: var(--border-radius-5);
  min-height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  width: 99.9%;
}

footer .newsletter_form_button {
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  font-weight: 600;
  background: var(--orange-color);
  border-radius: var(--border-radius-5);
  margin-top: 10px;
}

footer .newsletter_form_button:hover {
  background: var(--primary-blue-color);
}

footer .newsletter_form_button:before {
  box-shadow: none;
}

footer .newsletter_form_button:after {
  box-shadow: none !important;
}

footer .newsletter-form__field-wrapper .field:before {
  display: none;
}

footer .newsletter-form__field-wrapper .field:after {
  display: none;
}

footer .newsletter-form__field-wrapper label {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  top: 18px;
}

footer .footer_menu_list {
  display: flex;
  gap: 100px;
  max-width: 655px;
}

footer .footer_block_list {
  max-width: 195px;
}

footer .block_newsletter {
  max-width: 360px;
}

footer .block_newsletter p {
  padding: 8px 0 32px 0;
  font-size: 15px;
  color: #98A2B3;
}

footer .block_newsletter form {
  margin: 0;
}

footer .contact {
  max-width: 235px;
}

footer .contact .link_block {
  display: block;
  color: var(--white-color);
  border-bottom: 1px solid #FFFFFF1A;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

footer .contact .link_block a {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer .contact .link_block svg {
  width: 24px;
}

footer .contact .link_block span {
  display: flex;
  gap: 10px;
  line-height: 24px;
  align-items: flex-start;
}

footer .contact .link_block span svg {
  margin-top: 6px;
}

footer .social_block p {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  padding-bottom: 10px;
}

footer .social_icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer .social_icons a {
  transition: transform .3s ease, fill .3s ease;
}

footer .social_icons a:hover {
  transform: scale(1.2);
}

footer .social_icons svg {
  width: 36px;
  height: 36px;
  display: flex;
  color: var(--white-color);
}

footer .social_icons svg path {
  fill: var(--white-color);
}

.footer .footer_content_bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 14px 0 17px;
}

.footer_content_bottom .copyright_column {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer_content_bottom .copyright_column p {
  display: flex;
  align-items: center;
  line-height: 18.8px;
  color: #98A2B3;
  gap: 4px;
  font-size: 15px;
}

.footer_content_bottom .copyright_column p a {
  color: #98A2B3;
}

.footer_content_bottom .copyright_column ul {
  display: flex;
  gap: 40px;
}

.footer_content_bottom .copyright_column ul li {
  position: relative;
  padding: 0;
}

.footer_content_bottom .copyright_column ul li a {
  color: #98A2B3;
  font-size: 15px;
  font-weight: 400;
}

.footer_content_bottom .copyright_column ul li+li::before {
  border: 1px solid #98A2B3;
  content: "";
  height: 13px;
  position: absolute;
  top: 10px;
  left: -20px;
}

.footer .plus-minus {
  align-items: center;
  justify-content: center;
  display: none;
}

.footer .plus-minus svg path {
  width: 16px;
  height: 16px;
  fill: var(--white-color);
}

.footer .plus-minus .fa-minus {
  display: none;
}

/* .footer .plus-minus .fa-plus {
  display: block;
} */

.footer .mobile_show.active .plus-minus .fa-minus {
  display: block;
}

.footer .mobile_show.active .plus-minus .fa-plus {
  display: none;
}

.footer .menu_block {
  transition: display 0.3s ease;
}

.footer .call_number_mobile_show {
  display: none;
}


@media screen and (max-width: 1580px) {
  footer .wrapper_content {
    gap: 50px;
  }

  footer .footer_menu_list {
    gap: 50px;
    row-gap: 20px;
  }

  footer .footer_pre_blocks .page-width {
    gap: 30px;
  }
}

@media screen and (max-width: 1326px) {
  footer .footer_pre_blocks .left_side_content {
    gap: 20px;
  }

  footer .footer_menu_list {
    flex-wrap: wrap;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 989px) {
  footer .footer_pre_blocks {
    padding: 30px 0 25px;
  }

  footer .footer_pre_blocks .call_number_mobile_show {
    display: block;
    min-width: 180px;
  }

  .footer .call_number_mobile_hide {
    display: none;
  }

  footer .footer_pre_blocks .left_side_content {
    flex-wrap: wrap;
  }

  footer .footer_pre_blocks .call_number_block a {
    align-items: flex-start;
    gap: 10px;
  }

  footer .footer_pre_blocks .call_number_block svg {
    width: 24px;
  }

  footer .footer_pre_blocks .call_number_block span {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-open-sans);
  }

  footer .footer_pre_blocks .call_number_block span.call_text {
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
  }

  footer .wrapper_content {
    flex-direction: column;
    padding: 25px 0;
    gap: 0;
  }

  footer .footer_pre_blocks .left_side_content .blocks {
    gap: 10px;
    min-width: 180px;
    max-width: 180px;
  }

  footer .footer_pre_blocks .left_side_content .blocks img {
    width: 24px;
  }

  footer h5 {
    font-size: 12px;
    padding-bottom: 4px;
  }

  footer .footer_pre_blocks .left_side_content .blocks p {
    font-size: 12px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  footer .footer_pre_blocks .page-width {
    gap: 18px;
  }

  footer .block_newsletter {
    max-width: 100%;
  }

  footer .brand_newsletter .block_brand {
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #344054;
    border-top: none;
    margin: 0;
  }

  footer .block_newsletter p {
    font-weight: 500;
    padding-bottom: 20px;
  }

  footer .brand_newsletter {
    width: 100%;
  }

  footer .footer_menu {
    border: none;
    padding: 0;
    width: 100%;
  }

  footer .footer_menu_list {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }

  footer .footer_block_list {
    max-width: 100%;
    border-bottom: 1px solid #FFFFFF1F;
    width: 100%;
  }

  .footer_block__heading {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  .footer .plus-minus {
    display: flex;
  }

  .footer .menu_block {
    display: none;
  }

  footer .social_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
  }

  .footer .footer_content_bottom {
    border: none;
    padding: 0;
  }

  footer .contact_social {
    padding: 24px 0 0;
    gap: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer .contact {
    max-width: 100%;
  }

  footer .contact .link_block {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  footer .contact .link_block span svg {
    margin-top: 3px;
  }

  footer .contact .link_block svg {
    width: 19px;
    height: 19px;
  }

  footer .social_block p {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
  }

  footer .social_icons svg {
    width: 32px;
    height: 32px;
  }

  .footer_content_bottom .copyright_column {
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 0 30px 0;
    gap: 15px;
  }

}

@media screen and (max-width: 419px) {
  footer .footer_pre_blocks .call_number_mobile_show {
    min-width: 150px;
  }

  footer .footer_pre_blocks .left_side_content .blocks {
    min-width: 150px;
    max-width: 150px;
  }

  footer .social_block p {
    font-size: 12px;
  }

  .footer_content_bottom .copyright_column ul li a {
    font-size: 12px;
  }
}