.shop-all-collection{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.shop-all-collection .section-main-title{
    padding-right: 100px;
}
.shop-all-collection .top-collection-slider .slick-list{
    margin: 0px -10px;
}
.shop-all-collection .collection-slider{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.shop-all-collection .top-collection-slider .slick-slide{
    padding: 0px 10px;
    position: relative;
}
.shop-all-collection .top-collection-slider .collection-item-img{
    background-color: var(--light-grey-color);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.shop-all-collection .top-collection-slider .collection-item-img img{
    transition: var(--webkit-transition-all);   
    mix-blend-mode: multiply;
}
.shop-all-collection .top-collection-slider .slick-slide:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.shop-all-collection .top-collection-slider .slick-slide a{
    color: var(--black-color);
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.shop-all-collection .top-collection-slider .slick-slide a:after{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.shop-all-collection .top-collection-slider .slick-slide a:hover{
    color: var(--orange-color);
}
/* responsive */
@media only screen and (max-width: 991px) {
    .shop-all-collection{ padding-top: 40px;}
}
@media only screen and (max-width: 767px) {
    .shop-all-collection .top-collection-slider .slick-track{ width: 100% !important; transform:  none !important;}
    .shop-all-collection .top-collection-slider .slick-slide{ width: 50% !important; display: none; padding: 20px 5px 0px;}
    .shop-all-collection .top-collection-slider .slick-slide:nth-child(-n+2){padding-top: 0px;}
    .shop-all-collection .top-collection-slider .slick-slide:nth-child(-n+6){display: block;}
    .shop-all-collection .top-collection-slider .collection-item-img{ padding: 0px;}
    .shop-all-collection .top-collection-slider .collection-item-img img{max-width: 185px; max-height: 185px;}
    .shop-all-collection .top-collection-slider .slick-slide a{ font-size: 14px;}
    .shop-all-collection .top-collection-slider .slick-arrow {display: none !important;}
    .shop-all-collection .section-main-title{ justify-content: center; padding-right: 0px; margin-bottom: 20px;}
}